body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.main-content {
    margin-left: 220px;
    transition: margin-left 0.3s;
}

/* Pastikan main content tidak menutupi dropdown */
main.grow {
    z-index: 1040;
    position: relative;
    padding-left: 220px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    z-index: 999;
    transition: padding-left 0.3s;
}

.container-fluid.mt-4{
    background-color: transparent;
    width: 100%;
}